/* ***RESETS Y ESTILOS IMPORTADOS*** */

/* reset basico */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* hojas de estilo importadas */

/* iconos fontawesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js");

/* fuentes Google fonst handlee y ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Ubuntu&display=swap");

/* ---FIN RESETS Y ESTILOS IMPORTADOS--- */

/* ***ESTILO GENERAL*** */

:root {
    --fuente-principal: 'Handlee', cursive;
    --fuente-secundaria: 'Ubuntu', sans-serif;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* ---FIN ESTILO GENERAL--- */

/* ***INICIO HEADER*** */

.container {
    display: flex;
}

header {
    max-width: 500px;
    height: 100vh;
    font-family: var(--fuente-secundaria);
    border-right: 1px solid black;
    background-color: silver;
}

header div h2 {
    text-align: center;
    margin: 10px 0px;
}

#guardado {
    margin-bottom: 20px;
}

#guardado h4 {
    text-align: center;
    margin: 10px 0px;
}

input {
    font-family: var(--fuente-secundaria);
    font-size: 15px;
    width: 80%;
    margin:10px 10%;
    padding-left: 3px;
}

#addtarea {
    font-family: var(--fuente-secundaria);
    font-size: 15px;
    width: 50%;
    margin: 10px 10%;
}

#buscador h4 {
    text-align: center;
    margin: 10px 0px;
}

#selectorprioridad {
    font-family: var(--fuente-secundaria);
    font-size: 15px;
    width: 80%;
    margin: 10px 10%;

}

button {
 width: 19%;

}

button:hover {
   background-color: silver;
}

/* ---FIN HEADER--- */

/* ***INICIO MAIN*** */

main {
  
    background: linear-gradient(to right,silver, white); 
    width: 70vw;
    padding-left: 20px;
}

main h2 {
    font-family: var(--fuente-secundaria);
    font-size: 30px;
    margin: 20px 0px;
    width: 100%;
    
  
}
#separador {

    border: 2px solid black;
}

article {
    width: 850px;
    margin: 20px 0px;
    padding: 5px;
    font-family: var(--fuente-principal);
    font-size: 20px;
    background: linear-gradient(to right,silver, white); 
}

article:hover {
    transition: 0.5s;
    box-shadow: 2px 2px 20px silver;
    transform:scale(1.01);
    border-radius:20px;
}


main section article i {
    margin: 0 0 0 95%;
    font-size: 15px;
    cursor: pointer;
}

main section article i:hover {
    color: tomato;
    transition: 0.5s;
    transform:scale(1.1);
}

.Diaria {
    background: linear-gradient(to right,yellowgreen, white);
    border-radius: 5px;
    padding-left: 5px;
}

.Semanal {
    background: linear-gradient(to right,lemonchiffon, white);
    border-radius: 5px;
    padding-left: 5px;
}

.Mensual {
    background: linear-gradient(to right, goldenrod, white);
    border-radius: 5px;
    padding-left: 5px;
}

.Urgente {
    background: linear-gradient(to right, tomato, white);
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

/* ---FIN MAIN--- */